
/*//////////////////// Icons Nav ////////////////////*/
/*///// Icon Home /////*/
.iconHome {
  position: relative;
  background: url("../images/icons/icon_Home_grey.webp") center/contain no-repeat;
}
.iconHome::before,
.iconHome::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconHome::before {
  background-image: url("../images/icons/icon_Home_dark.webp");
}
.iconHome::after {
  background-image: url("../images/icons/icon_Home_white.webp");
}
/*///// Icon Profil /////*/
.iconProfil {
  position: relative;
  background: url("../images/icons/icon_GC_Grey.webp") center/contain no-repeat;
}
.iconProfil::before,
.iconProfil::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconProfil::before {
  background: url("../images/icons/icon_GC_Dark.webp") center/contain no-repeat;
}
.iconProfil::after {
  background: url("../images/icons/icon_GC_White.webp") center/contain no-repeat;
}
/*///// Icon Games /////*/
.iconGames {
  position: relative;
  background: url("../images/icons/icon_Games_Grey.webp") center/contain no-repeat;
}
.iconGames::before,
.iconGames::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconGames::before {
  background: url("../images/icons/icon_Games_dark.webp") center/contain no-repeat;
}
.iconGames::after {
  background: url("../images/icons/icon_Games_white.webp") center/contain no-repeat;
}
/*///// Icon UX-UI /////*/
.iconUx {
  position: relative;
  background: url("../images/icons/icon_UX-UI_Grey.webp") center/contain no-repeat;
}
.iconUx::before,
.iconUx::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconUx::after {
  background: url("../images/icons/icon_UX-UI_dark.webp") center/contain no-repeat;
}
.iconUx::after {
  background: url("../images/icons/icon_UX-UI_white.webp") center/contain no-repeat;
}
/*///// Icon 3d /////*/
.icon3d {
  position: relative;
  background: url("../images/icons/icon_3d_Grey.webp") center/contain no-repeat;
}
.icon3d::before,
.icon3d::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.icon3d::before {
  background: url("../images/icons/icon_3d_dark.webp") center/contain no-repeat;
}
.icon3d::after {
  background: url("../images/icons/icon_3d_white.webp") center/contain no-repeat;
}

/*///// Icon 2d /////*/
.icon2d {
  position: relative;
  background: url("../images/icons/icon_2d_Grey.webp") center/contain no-repeat;
}
.icon2d::before,
.icon2d::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.icon2d::before {
  background: url("../images/icons/icon_2d_dark.webp") center/contain no-repeat;
}
.icon2d::after {
  background: url("../images/icons/icon_2d_white.webp") center/contain no-repeat;
}
/*///// Icon Video /////*/
.iconVideo {
  position: relative;
  background: url("../images/icons/icon_Video_Grey.webp") center/contain no-repeat;
}
.iconVideo::before,
.iconVideo::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconVideo::before {
  background: url("../images/icons/icon_Video_dark.webp") center/contain no-repeat;
}
.iconVideo::after {
  background: url("../images/icons/icon_Video_white.webp") center/contain no-repeat;
}
/*///// Icon Web /////*/
.iconWeb {
  position: relative;
  background: url("../images/icons/icon_webDesign_Grey.webp") center/contain no-repeat;
}
.iconWeb::before,
.iconWeb::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconWeb::before {
  background: url("../images/icons/icon_webDesign_dark.webp") center/contain no-repeat;
}
.iconWeb::after {
  background: url("../images/icons/icon_webDesign_white.webp") center/contain no-repeat;
}
/*///// Icon Pixel /////*/
.iconPixel {
  position: relative;
  background: url("../images/icons/icon_pixelArt_Grey.webp") center/contain no-repeat;
}
.iconPixel::before,
.iconPixel::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconPixel::before {
  background: url("../images/icons/icon_pixelArt_dark.webp") center/contain no-repeat;
}
.iconPixel::after {
  background: url("../images/icons/icon_pixelArt_white.webp") center/contain no-repeat;
}
/*///// Icon Portfolio /////*/
.iconPortfolio {
  position: relative;
  background: url("../images/icons/icon_galleries_Grey.webp") center/contain no-repeat;
}
.iconPortfolio::before,
.iconPortfolio::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconPortfolio::before {
  background: url("../images/icons/icon_galleries_dark.webp") center/contain no-repeat;
}
.iconPortfolio::after {
  background: url("../images/icons/icon_galleries_white.webp") center/contain no-repeat;
}
/*///// Icon Blog /////*/
.iconBlog {
  position: relative;
  background: url("../images/icons/icon_blog_Grey.webp") center/contain no-repeat;
}
.iconBlog::before,
.iconBlog::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconBlog::before {
  background: url("../images/icons/icon_blog_dark.webp") center/contain no-repeat;
}
.iconBlog::after {
  background: url("../images/icons/icon_blog_white.webp") center/contain no-repeat;
}
/*///// Icon Bio /////*/
.iconBio {
  position: relative;
  background: url("../images/icons/icon_about_Grey.webp") center/contain no-repeat;
}
.iconBio::before,
.iconBio::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconBio::before {
  background: url("../images/icons/icon_about_dark.webp") center/contain no-repeat;
}
.iconBio::after {
  background: url("../images/icons/icon_about_white.webp") center/contain no-repeat;
}
/*///// Icon Contact /////*/
.iconContact {
  position: relative;
  background: url("../images/icons/icon_Contact_Grey.webp") center/contain no-repeat;
}
.iconContact::before,
.iconContact::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconContact::before {
  background: url("../images/icons/icon_Contact_dark.webp") center/contain no-repeat;
}
.iconContact::after {
  background: url("../images/icons/icon_Contact_white.webp") center/contain no-repeat;
}

/*//////////////////// Icons Social ////////////////////*/
/*///// Icon Round Artstation /////*/
.iconRoundArtstation {
  position: relative;
  background: url("../images/icons/icon_artstationRound_Grey.webp") center/contain no-repeat;
}
.iconRoundArtstation::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../images/icons/icon_artstationRound_white.webp") center/contain no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
/*///// Icon Round Linkedin /////*/
.iconRoundLinkedin {
  position: relative;
  background: url("../images/icons/icon_LinkedinRound_Grey.webp") center/contain no-repeat;
}
.iconRoundLinkedin::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../images/icons/icon_LinkedinRound_white.webp") center/contain no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
/*///// Icon Round Youtube /////*/
.iconRoundYoutube {
  position: relative;
  background: url("../images/icons/icon_YoutubeRound_Grey.webp") center/contain no-repeat;
}
.iconRoundYoutube::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../images/icons/icon_YoutubeRound_white.webp") center/contain no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
  /*///// Icon Round Facebook /////*/
  .iconRoundFacebook {
    position: relative;
    background: url("../images/icons/icon_FacebookRound_Grey.webp") center/contain no-repeat;
  }
  .iconRoundFacebook::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../images/icons/icon_FacebookRound_white.webp") center/contain no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
   /*///// Icon Round X /////*/
   .iconRoundX {
    position: relative;
    background: url("../images/icons/icon_XRound_Grey.webp") center/contain no-repeat;
  }
  .iconRoundX::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../images/icons/icon_XRound_white.webp") center/contain no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }