.navContainer {
  position: fixed;
  width: calc(100% - 64px);
  height: calc(100% - 64px);
  display:flex;
  flex-direction: column;
  z-index: 100;
  /* border: #888 solid 1px; */
}

/*//////////////////// Top Bar ////////////////////*/
.topBar {
  height:60px;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: #888 solid 1px; */
}
/*///// Main Logo /////*/
.mainLogo {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: left;
  cursor: pointer;
  opacity:0;
  transition: opacity 1s ease-in-out, margin-left 1s ease-in-out;
}
.mainLogo h1 {
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
  color: #b4b4b5;
  font-size: 36px;
  transition: color 0.3s ease-in-out;
  margin-left:-2px;
}
.mainLogo h2 {
  font-family: "Sarala", serif;
  font-weight: 400;
  font-style: normal;
  color: #b4b4b5;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.925rem;
  transition: color 0.3s ease-in-out;
}
.mainLogo:hover h1,
.mainLogo:hover h2 {
  color: white;
}
/*///// Language selector /////*/
.languageSelector {
  color: #b4b4b5;
  font-family: "Sarala", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.languageSelector select {
  padding: 5px 40px 5px 10px; /* Espace à droite pour la flèche */
  border: 1px solid #b4b4b5;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #b4b4b5;
  background-color: transparent;
  font-family: inherit;
  text-transform: uppercase;
  appearance: none;
  cursor: pointer;
  outline: none;
  width: auto;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23b4b4b5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 9l6 6 6-6"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}
.languageSelector select:focus {
  border-color: #b4b4b5;
}
/*///// Tablet Menu Top /////*/
.tabletMenuTop {
display:flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.socialLinksTablet {
  display:flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
/*///// Burger Menu /////*/
.burgerMenu {
  width:40px;
  height:40px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  /* background-color:red; */
}
.burgerBar {
  width:40px;
  height:6px;
  border-radius: 3px;
  background-color:#b4b4b5;
  transition: background-color 0.3s ease-in-out;
}
/*//////////////////// Nav Desktop ////////////////////*/
.navDesktop {
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 2px solid red; */
}
.navLeft, .navRight {
  height:100%;
  width:240px;
  /* border: 2px solid red; */
}
/*///// Main Links /////*/
.mainNavContainer {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 2px solid red; */
}
.navLinks {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap:0.5rem;
  margin-top: 120px;
  /* border: 2px solid red; */
}
.navLinks li {
  display: block;
  height: fit-content;
  width: fit-content;
  text-align: left;
  /* border: 2px solid green; */
}
.btnLateral {
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 0.75rem;
  transform: scale(0.75);
  transform-origin: left center;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  /* border: 2px solid red; */
}
.btnActive {
    transform: scale(1);
    cursor: pointer;
}
.btnActive>.btnLateral>.icon {
    opacity: 1;
    margin-left:-0.25rem;
}
.btnActive>.btnLateral>.icon::after {
    opacity: 1;
}
.btnActive>.linkText {
    color:white;
}
.btnLateral:hover {
  opacity: 1;
  transform: scale(1);
}
.btnLateral:hover>.icon {
    margin-left:-0.25rem;
  }

.btnLateral h2 {
  color: #b4b4b5;
  font-family: "Sarala", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  text-transform: uppercase;
  opacity: 0;
  transition: color 0.3s ease-in-out, opacity 1s ease-in-out;
  margin-top: 0.15rem;
}
.navLinks:hover h2 {
  opacity: 1;
}
.btnLateral h2:active {
  color: white;
}
/*///// Social Links /////*/
.socialLinksDesktop {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  @media (min-width: 1918px) {
    /* Styles spécifiques aux desktops */
  }
  @media (max-width: 1917px) {
    .navContainer {
      height: 100%;
      width: 100%;
    }
    .topBar {
      height:72px;
      padding:0 24px 0 24px;
    }
    .mainLogo h1 {
      font-size: 28px;
    }
    .mainLogo h2 {
      font-size: 12px;
      letter-spacing: 11.75px;
    }
    .navDesktop {
      display:none;
    }
    .topBar>.languageSelector {
      display:none;
    }
    .burgerMenu {
      display: flex;
    }
  }
  @media (max-width: 767px) {
    /* Styles spécifiques aux mobiles */

    }
