/* --------------------------------------- */
/*        CONTAINER & STRUCTURE            */
/* --------------------------------------- */
.backgroundsContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -10000;
}

.backgrounds {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -25;
}

.backgroundHome {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -50;
    overflow: hidden;
}



/* --------------------------------------- */
/*        AUTRES BACKGROUNDS               */
/* --------------------------------------- */
.backgMotif {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../images/Tramage_02.png");
    background-repeat: repeat;
    background-position: center;
    opacity: 0;
    z-index: -30;
    transition: opacity 1s ease-in-out;
}

.backgBlur {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(0px);
    opacity: 1;
    z-index: -45;
    transition: opacity 1s ease-in-out, backdrop-filter 1s ease-in-out;
}

.backgrounds::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 40%, #04050800 0%, #04050800 30%, #040508 100%);
    z-index: -40;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.layer-video, #f1Layer, .loop-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: opacity 0.5s;
}
.layer-video {
    z-index: 1;
    object-fit: cover;
}
#f1Layer {
    z-index: 3;
    background-size: cover;
    background-position: center;
    opacity: 0;
}
.loop-img {
    z-index: 2;
    opacity: 0;
}

#backgroundHome {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -50;
    overflow: hidden;
}
#backgroundHome > .layer-video,
#backgroundHome > .layer-fx,
#backgroundHome > .loop-wrapper > .loop-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    transition: opacity 0.5s;
}
#backgroundHome > .layer-fx {
    z-index: 3;
    background-size: cover;
    background-position: center;
    opacity: 0;
}
#backgroundHome > .layer-video {
    z-index: 1;
}
#backgroundHome > .loop-wrapper > .loop-img {
    z-index: 2;
    opacity: 0;
}
.loop-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

/* --------------------------------------- */
/*         RESPONSIVE                      */
/* --------------------------------------- */
@media (max-width: 1917px) {
    .topBarBackground {
        display: block;
    }
}

@media (max-width: 800px) {
    /* Styles mobiles */
}

.backHomeStartDesktop { background-image: url("../images/Backgrounds/bck_Anim_Desktop.mp4"); } 
.backHomeStartMobile { background-image: url("../images/Backgrounds/bck_Anim_Mobile.mp4"); } 
.backHomeF1Desktop { background-image: url("../images/Backgrounds/bck_F1_Desktop.png"); } 
.backHomeF1Mobile { background-image: url("../images/Backgrounds/bck_F1_Mobile.png"); } 
.backHomeF2Desktop { background-image: url("../images/Backgrounds/bck_F2_Desktop.png"); } 
.backHomeF2Mobile { background-image: url("../images/Backgrounds/bck_F2_Mobile.png"); } 
.backHomeF3Desktop { background-image: url("../images/Backgrounds/bck_F3_Desktop.png"); } 
.backHomeF3Mobile { background-image: url("../images/Backgrounds/bck_F3_Mobile.png"); } 
.backHomeF4Desktop { background-image: url("../images/Backgrounds/bck_F4_Desktop.png"); } 
.backHomeF4Mobile { background-image: url("../images/Backgrounds/bck_F4_Mobile.png"); } 
.backHomeF5Desktop { background-image: url("../images/Backgrounds/bck_F5_Desktop.png"); }
.backHomeF5Mobile { background-image: url("../images/Backgrounds/bck_F5_Mobile.png"); } 
.backHomeF6Desktop { background-image: url("../images/Backgrounds/bck_F6_Desktop.png"); } 
.backHomeF6Mobile { background-image: url("../images/Backgrounds/bck_F6_Mobile.png"); } 
.backHomeF7Desktop { background-image: url("../images/Backgrounds/bck_F7_Desktop.png"); } 
.backHomeF7Mobile { background-image: url("../images/Backgrounds/bck_F7_Mobile.png"); }