.icon {
  /* display:block; */
  height: 24px;
  width: 24px;
  aspect-ratio: auto 1 / 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity:1;
}
/*//////////////////// Icons Connexion ////////////////////*/
/*///// Icon CONNECT/////*/
.iconConnect {
  position: relative;
  background: url("../images/icons/icon_connect_grey.webp") center/contain no-repeat;
}
.iconConnect::before,
.iconConnect::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconConnect::before {
  background-image: url("../images/icons/icon_connect_dark.webp");
}
.iconConnect::after {
  background-image: url("../images/icons/icon_connect_white.webp");
}
/*///// Icon User/////*/
.iconUser {
  position: relative;
  background: url("../images/icons/icon_user_grey.webp") center/contain no-repeat;
}
.iconUser::before,
.iconUser::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconUser::before {
  background-image: url("../images/icons/icon_user_dark.webp");
}
.iconUser::after {
  background-image: url("../images/icons/icon_user_white.webp");
}
/*///// Icon Admin/////*/
.iconAdmin {
  position: relative;
  background: url("../images/icons/icon_admin_grey.webp") center/contain no-repeat;
}
.iconAdmin::before,
.iconAdmin::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconAdmin::before {
  background-image: url("../images/icons/icon_admin_dark.webp");
}
.iconAdmin::after {
  background-image: url("../images/icons/icon_admin_white.webp");
}
/*///// Icon Eye/////*/
.iconEye {
  position: relative;
  display:block;
  background: url("../images/icons/icon_Eye_grey.webp") center/contain no-repeat;
}
.iconEye::before,
.iconEye::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconEye::before {
  background-image: url("../images/icons/icon_Eye_dark.webp");
}
.iconEye::after {
  background-image: url("../images/icons/icon_Eye_white.webp");
}
/*///// Icon EyeClosed/////*/
.iconEyeClosed {
  position: relative;
  display:block;
  background: url("../images/icons/icon_EyeClosed_grey.webp") center/contain no-repeat;
}
.iconEyeClosed::before,
.iconEyeClosed::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconEyeClosed::before {
  background-image: url("../images/icons/icon_EyeClosed_dark.webp");
}
.iconEyeClosed::after {
  background-image: url("../images/icons/icon_EyeClosed_white.webp");
}
/*///// Icon Valid/////*/
.iconValid {
  position: relative;
  background: url("../images/icons/icon_validation_grey.webp") center/contain no-repeat;
}
.iconValid::before,
.iconValid::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconValid::before {
  background-image: url("../images/icons/icon_validation_dark.webp");
}
.iconValid::after {
  background-image: url("../images/icons/icon_validation_white.webp");
}
/*///// Icon Prohibed/////*/
.iconProhibed {
  position: relative;
  background: url("../images/icons/icon_prohibed_grey.webp") center/contain no-repeat;
}
.iconProhibed::before,
.iconProhibed::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconProhibed::before {
  background-image: url("../images/icons/icon_prohibed_dark.webp");
}
.iconProhibed::after {
  background-image: url("../images/icons/icon_prohibed_white.webp");
}
/*///// Icon Inscription/////*/
.iconInscription {
  position: relative;
  background: url("../images/icons/icon_inscription_grey.webp") center/contain no-repeat;
}
.iconInscription::before,
.iconInscription::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconInscription::before {
  background-image: url("../images/icons/icon_inscription_dark.webp");
}
.iconInscription::after {
  background-image: url("../images/icons/icon_inscription_white.webp");
}
/*///// Icon Settings/////*/
.iconSettings {
  position: relative;
  background: url("../images/icons/icon_settings_grey.webp") center/contain no-repeat;
}
.iconSettings::before,
.iconSettings::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconSettings::before {
  background-image: url("../images/icons/icon_settings_dark.webp");
}
.iconSettings::after {
  background-image: url("../images/icons/icon_settings_white.webp");
}
/*///// Icon Retry/////*/
.iconRetry {
  position: relative;
  background: url("../images/icons/icon_retry_grey.webp") center/contain no-repeat;
}
.iconRetry::before,
.iconRetry::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconRetry::before {
  background-image: url("../images/icons/icon_retry_dark.webp");
}
.iconRetry::after {
  background-image: url("../images/icons/icon_retry_white.webp");
}
/*///// Icon Save/////*/
.iconSave {
  position: relative;
  background: url("../images/icons/icon_save_grey.webp") center/contain no-repeat;
}
.iconSave::before,
.iconSave::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconSave::before {
  background-image: url("../images/icons/icon_save_dark.webp");
}
.iconSave::after {
  background-image: url("../images/icons/icon_save_white.webp");
}
/*///// Icon Back/////*/
.iconBack {
  position: relative;
  background: url("../images/icons/icon_back_grey.webp") center/contain no-repeat;
}
.iconBack::before,
.iconBack::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconBack::before {
  background-image: url("../images/icons/icon_back_dark.webp");
}
.iconBack::after {
  background-image: url("../images/icons/icon_back_white.webp");
}
/*///// Icon Deny/////*/
.iconDeny {
  position: relative;
  background: url("../images/icons/icon_deny_grey.webp") center/contain no-repeat;
}
.iconDeny::before,
.iconDeny::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconDeny::before {
  background-image: url("../images/icons/icon_deny_dark.webp");
}
.iconDeny::after {
  background-image: url("../images/icons/icon_deny_white.webp");
}
/*///// Icon Delete/////*/
.iconDelete {
  position: relative;
  background: url("../images/icons/icon_delete_grey.webp") center/contain no-repeat;
}
.iconDelete::before,
.iconDelete::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconDelete::before {
  background-image: url("../images/icons/icon_delete_dark.webp");
}
.iconDelete::after {
  background-image: url("../images/icons/icon_delete_white.webp");
}
/*//////////////////// Icons AdminTool ////////////////////*/
/*///// Icon ContentCreation/////*/
.iconContentCreation {
  position: relative;
  background: url("../images/icons/icon_write_grey.webp") center/contain no-repeat;
}
.iconContentCreation::before,
.iconContentCreation::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconContentCreation::before {
  background-image: url("../images/icons/icon_write_dark.webp");
}
.iconContentCreation::after {
  background-image: url("../images/icons/icon_write_white.webp");
}
/*///// Icon ContentManagement/////*/
.iconContentManagement {
  position: relative;
  background: url("../images/icons/icon_pages_grey.webp") center/contain no-repeat;
}
.iconContentManagement::before,
.iconContentManagement::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconContentManagement::before {
  background-image: url("../images/icons/icon_pages_dark.webp");
}
.iconContentManagement::after {
  background-image: url("../images/icons/icon_pages_white.webp");
}
/*///// Icon UsersManagement/////*/
.iconUsersManagement {
  position: relative;
  background: url("../images/icons/icon_userGroup_grey.webp") center/contain no-repeat;
}
.iconUsersManagement::before,
.iconUsersManagement::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconUsersManagement::before {
  background-image: url("../images/icons/icon_userGroup_dark.webp");
}
.iconUsersManagement::after {
  background-image: url("../images/icons/icon_userGroup_white.webp");
}
/*///// Icon CommentsManagement/////*/
.iconCommentsManagement {
  position: relative;
  background: url("../images/icons/icon_comments_grey.webp") center/contain no-repeat;
}
.iconCommentsManagement::before,
.iconCommentsManagement::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconCommentsManagement::before {
  background-image: url("../images/icons/icon_comments_dark.webp");
}
.iconCommentsManagement::after {
  background-image: url("../images/icons/icon_comments_white.webp");
}
/*///// Icon Analytics/////*/
.iconAnalytics {
  position: relative;
  background: url("../images/icons/icon_analytics_grey.webp") center/contain no-repeat;
}
.iconAnalytics::before,
.iconAnalytics::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconAnalytics::before {
  background-image: url("../images/icons/icon_analytics_dark.webp");
}
.iconAnalytics::after {
  background-image: url("../images/icons/icon_analytics_white.webp");
}
/*///// Icon Search/////*/
.iconSearch {
  position: relative;
  background: url("../images/icons/icon_search_grey.webp") center/contain no-repeat;
}
.iconSearch::before,
.iconSearch::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconSearch::before {
  background-image: url("../images/icons/icon_search_dark.webp");
}
.iconSearch::after {
  background-image: url("../images/icons/icon_search_white.webp");
}
/*///// Icon UploadList/////*/
.iconUploadList {
  position: relative;
  background: url("../images/icons/icon_uploadList_grey.webp") center/contain no-repeat;
}
.iconUploadList::before,
.iconUploadList::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconUploadList::before {
  background-image: url("../images/icons/icon_uploadList_dark.webp");
}
.iconUploadList::after {
  background-image: url("../images/icons/icon_uploadList_white.webp");
}
/*//////////////////// Icons Nav ////////////////////*/
/*///// Icon Home /////*/
.iconHome {
  position: relative;
  background: url("../images/icons/icon_Home_grey.webp") center/contain no-repeat;
}
.iconHome::before,
.iconHome::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconHome::before {
  background-image: url("../images/icons/icon_Home_dark.webp");
}
.iconHome::after {
  background-image: url("../images/icons/icon_Home_white.webp");
}
/*///// Icon Profil /////*/
.iconProfil {
  position: relative;
  background: url("../images/icons/icon_GC_Grey.webp") center/contain no-repeat;
}
.iconProfil::before,
.iconProfil::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconProfil::before {
  background: url("../images/icons/icon_GC_Dark.webp") center/contain no-repeat;
}
.iconProfil::after {
  background: url("../images/icons/icon_GC_White.webp") center/contain no-repeat;
}
/*///// Icon Games /////*/
.iconGames {
  position: relative;
  background: url("../images/icons/icon_Games_Grey.webp") center/contain no-repeat;
}
.iconGames::before,
.iconGames::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconGames::before {
  background: url("../images/icons/icon_Games_dark.webp") center/contain no-repeat;
}
.iconGames::after {
  background: url("../images/icons/icon_Games_white.webp") center/contain no-repeat;
}
/*///// Icon UX-UI /////*/
.iconUx {
  position: relative;
  background: url("../images/icons/icon_UX-UI_Grey.webp") center/contain no-repeat;
}
.iconUx::before,
.iconUx::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconUx::before {
  background: url("../images/icons/icon_UX-UI_dark.webp") center/contain no-repeat;
}
.iconUx::after {
  background: url("../images/icons/icon_UX-UI_white.webp") center/contain no-repeat;
}
/*///// Icon 3d /////*/
.icon3d {
  position: relative;
  background: url("../images/icons/icon_3d_Grey.webp") center/contain no-repeat;
}
.icon3d::before,
.icon3d::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.icon3d::before {
  background: url("../images/icons/icon_3d_dark.webp") center/contain no-repeat;
}
.icon3d::after {
  background: url("../images/icons/icon_3d_white.webp") center/contain no-repeat;
}

/*///// Icon 2d /////*/
.icon2d {
  position: relative;
  background: url("../images/icons/icon_2d_Grey.webp") center/contain no-repeat;
}
.icon2d::before,
.icon2d::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.icon2d::before {
  background: url("../images/icons/icon_2d_dark.webp") center/contain no-repeat;
}
.icon2d::after {
  background: url("../images/icons/icon_2d_white.webp") center/contain no-repeat;
}
/*///// Icon Video /////*/
.iconVideo {
  position: relative;
  background: url("../images/icons/icon_Video_Grey.webp") center/contain no-repeat;
}
.iconVideo::before,
.iconVideo::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconVideo::before {
  background: url("../images/icons/icon_Video_dark.webp") center/contain no-repeat;
}
.iconVideo::after {
  background: url("../images/icons/icon_Video_white.webp") center/contain no-repeat;
}
/*///// Icon Web /////*/
.iconWeb {
  position: relative;
  background: url("../images/icons/icon_webDesign_Grey.webp") center/contain no-repeat;
}
.iconWeb::before,
.iconWeb::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconWeb::before {
  background: url("../images/icons/icon_webDesign_dark.webp") center/contain no-repeat;
}
.iconWeb::after {
  background: url("../images/icons/icon_webDesign_white.webp") center/contain no-repeat;
}
/*///// Icon Pixel /////*/
.iconPixel {
  position: relative;
  background: url("../images/icons/icon_pixelArt_Grey.webp") center/contain no-repeat;
}
.iconPixel::before,
.iconPixel::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconPixel::before {
  background: url("../images/icons/icon_pixelArt_dark.webp") center/contain no-repeat;
}
.iconPixel::after {
  background: url("../images/icons/icon_pixelArt_white.webp") center/contain no-repeat;
}
/*///// Icon Portfolio /////*/
.iconPortfolio {
  position: relative;
  background: url("../images/icons/icon_galleries_Grey.webp") center/contain no-repeat;
}
.iconPortfolio::before,
.iconPortfolio::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconPortfolio::before {
  background: url("../images/icons/icon_galleries_dark.webp") center/contain no-repeat;
}
.iconPortfolio::after {
  background: url("../images/icons/icon_galleries_white.webp") center/contain no-repeat;
}
/*///// Icon Blog /////*/
.iconBlog {
  position: relative;
  background: url("../images/icons/icon_blog_Grey.webp") center/contain no-repeat;
}
.iconBlog::before,
.iconBlog::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconBlog::before {
  background: url("../images/icons/icon_blog_dark.webp") center/contain no-repeat;
}
.iconBlog::after {
  background: url("../images/icons/icon_blog_white.webp") center/contain no-repeat;
}
/*///// Icon Bio /////*/
.iconBio {
  position: relative;
  background: url("../images/icons/icon_about_Grey.webp") center/contain no-repeat;
}
.iconBio::before,
.iconBio::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconBio::before {
  background: url("../images/icons/icon_about_dark.webp") center/contain no-repeat;
}
.iconBio::after {
  background: url("../images/icons/icon_about_white.webp") center/contain no-repeat;
}
/*///// Icon Contact /////*/
.iconContact {
  position: relative;
  background: url("../images/icons/icon_Contact_Grey.webp") center/contain no-repeat;
}
.iconContact::before,
.iconContact::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.iconContact::before {
  background: url("../images/icons/icon_Contact_dark.webp") center/contain no-repeat;
}
.iconContact::after {
  background: url("../images/icons/icon_Contact_white.webp") center/contain no-repeat;
}

/*//////////////////// Icons Social ////////////////////*/
/*///// Icon Artstation /////*/
.iconArtstation {
  position: relative;
  background: url("../images/icons/icon_artstation_Grey.webp") center/contain no-repeat;
}
.iconArtstation::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../images/icons/icon_artstation_white.webp") center/contain no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
/*///// Icon Linkedin /////*/
.iconLinkedin {
  position: relative;
  background: url("../images/icons/icon_Linkedin_Grey.webp") center/contain no-repeat;
}
.iconLinkedin::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../images/icons/icon_Linkedin_white.webp") center/contain no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
/*///// Icon Youtube /////*/
.iconYoutube {
  position: relative;
  background: url("../images/icons/icon_Youtube_Grey.webp") center/contain no-repeat;
}
.iconYoutube::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../images/icons/icon_Youtube_white.webp") center/contain no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
  /*///// Icon Facebook /////*/
  .iconFacebook {
    position: relative;
    background: url("../images/icons/icon_Facebook_Grey.webp") center/contain no-repeat;
  }
  .iconFacebook::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../images/icons/icon_Facebook_white.webp") center/contain no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
   /*///// Icon X /////*/
   .iconX {
    position: relative;
    background: url("../images/icons/icon_X_Grey.webp") center/contain no-repeat;
  }
  .iconRoundX::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../images/icons/icon_XRound_white.webp") center/contain no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  /*//////////////////// Icons Social Round////////////////////*/
/*///// Icon Round Artstation /////*/
.iconRoundArtstation {
  position: relative;
  background: url("../images/icons/icon_artstationRound_Grey.webp") center/contain no-repeat;
}
.iconRoundArtstation::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../images/icons/icon_artstationRound_white.webp") center/contain no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
/*///// Icon Round Linkedin /////*/
.iconRoundLinkedin {
  position: relative;
  background: url("../images/icons/icon_LinkedinRound_Grey.webp") center/contain no-repeat;
}
.iconRoundLinkedin::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../images/icons/icon_LinkedinRound_white.webp") center/contain no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
/*///// Icon Round Youtube /////*/
.iconRoundYoutube {
  position: relative;
  background: url("../images/icons/icon_YoutubeRound_Grey.webp") center/contain no-repeat;
}
.iconRoundYoutube::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../images/icons/icon_YoutubeRound_white.webp") center/contain no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
  /*///// Icon Round Facebook /////*/
  .iconRoundFacebook {
    position: relative;
    background: url("../images/icons/icon_FacebookRound_Grey.webp") center/contain no-repeat;
  }
  .iconRoundFacebook::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../images/icons/icon_FacebookRound_white.webp") center/contain no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
   /*///// Icon Round X /////*/
   .iconRoundX {
    position: relative;
    background: url("../images/icons/icon_XRound_Grey.webp") center/contain no-repeat;
  }
  .iconRoundX::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../images/icons/icon_XRound_white.webp") center/contain no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }