.navContainer {
  position: fixed;
  width: calc(100% - 64px);
  height: calc(100% - 64px);
  display: flex;
  flex-direction: column;
  z-index: 100;
  /* border: #888 solid 1px; */
}

/*//////////////////// Top Bar ////////////////////*/
.topBar {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: #888 solid 1px; */
}
.topBarContent {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /* border: #888 solid 1px; */
}
.topBarDesktop {
  display: flex;
  height: fit-content;
  width: fit-content;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap:1rem;
  /* border: #888 solid 1px; */
}
/*///// Main Logo /////*/
.mainLogo {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: left;
  cursor: pointer;
  opacity: 0;
  margin-top: -6px;
  transition: opacity 1s ease-in-out;
}
.mainLogo h1 {
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
  color: #b4b4b5;
  font-size: 36px;
  transition: color 0.3s ease-in-out;
  margin-left: -2px;
}

.mainLogoText {
  perspective: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: -10px;
}
.mainLogoText span {
  font-family: "Sarala", serif;
  font-weight: 400;
  font-style: normal;
  color: #b4b4b5;
  font-size: 1rem;
  opacity: 0;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
  transform-origin: right center;
}
.mainLogo:hover h1,
.mainLogo:hover span {
  color: white;
}
/*///// Connexion Box /////*/
.connexionBox {
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  /* border: #888 solid 1px; */
}
#connexionBoxDesktop {
  opacity:0;
  transition: opacity 0.3s ease-in-out;
}
.btnConnexion {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center ;
  align-items: center;
  opacity: 1;
transform: var(--scale, scale(1));
  transition: transform 0.3s ease-in-out, opacity 1s ease-in-out;
  cursor: pointer;
  /* border: 1px solid red; */
}
.btnConnexion > .icon {
  transform-origin: center;
  transform: rotateZ(0deg);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  /* border: 2px solid red; */
}
/* .btnConnexion.active > .icon {
  transform: rotateZ(-180deg);
} */
.btnConnexion.active > .icon::after {
  opacity: 1;
}
.btnUserLog,
.btnAdminLog {
  height: 36px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(1);
  transform-origin: center; 
  transition: transform 0.3s ease-in-out, opacity 1s ease-in-out;
  cursor: pointer;
  gap: 0.5rem;
}
.btnUserLog,
.btnAdminLog > .icon {
  transform-origin: center;
  transform: rotateX(0deg) var(--scale, scale(1));
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.btnUserLog,
.btnAdminLog > .btnUserLogText {
font-family: "Sarala", serif;
  font-weight: 400;
  font-style: normal;
  color: #b4b4b5;
  transform: var(--scale, scale(1));
  transition: transform 0.3s ease-in-out;
  /* border: 2px solid red; */
}
/* Applique le scale au conteneur entier */
.btnUserLog:hover,
.btnAdminLog:hover {
  transform: scale(1.1);
} 

.btnUserLog:hover > .btnUserLogText {
  /* transform: scale(1.5); */
  /* margin-left: 0.5rem; */
}
.btnUserLog.pressed {
  --scale: scale(1);
}
.btnUserLog.pressed > .icon::after {
  opacity: 1;
}
.btnUserLog.pressed > .btnUserLogText {
  /* transform: scale(1); */
  color: white;
  margin-left: 0;
}
.btnUserLog.clicked {
  --scale: scale(1.5);
}
.btnUserLog.clicked > .icon::after {
  opacity: 1;
}
.btnUserLog.clicked > .btnUserLogText {
  color: white;
  /* margin-left: 0.5rem; */
}

/*///// Language selector /////*/
.languageSelector {
  color: #b4b4b5;
  font-family: "Sarala", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.languageSelector select {
  padding: 5px 40px 5px 10px; /* Espace à droite pour la flèche */
  border: 1px solid #b4b4b5;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #b4b4b5;
  background-color: transparent;
  font-family: inherit;
  text-transform: uppercase;
  appearance: none;
  cursor: pointer;
  outline: none;
  width: auto;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23b4b4b5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 9l6 6 6-6"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}
.languageSelector select:focus {
  border-color: #b4b4b5;
}
#languageSelectorDesktop {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
/*///// Tablet Menu Top /////*/
.tabletMenuTop {
  display: none;
  height: fit-content;
  width: 400px;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1.5rem;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out;
  /* border: 2px solid red; */
}
.socialLinksTablet {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  padding-right: 0.75rem;
  /* border: 2px solid red; */
}
/*///// Burger Menu /////*/
.burgerContainer {
  display: none;
}
.burgerMenu {
  transform-origin: center;
  position: relative;
  width: 40px !important;
  height: 40px !important;
  display: none;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  /* border: 2px solid green; */
}
#burgerBarTop {
  position: absolute;
  top: 0;
  left: calc(50% - 21px);
  right: "";
  bottom: "";
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background-color: #b4b4b5;
  transition: all 0.3s ease-in-out;
}
#burgerBarMiddle {
  position: absolute;
  top: calc(50% - 3px);
  left: calc(50% - 21px);
  right: "";
  bottom: "";
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background-color: #b4b4b5;
  transition: all 0.3s ease-in-out;
}
#burgerBarBottom {
  position: absolute;
  top: calc(100% - 6px);
  /* left:calc(50% - 21px); */
  right: calc(0% + 0px);
  bottom: "";
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background-color: #b4b4b5;
  transition: all 0.3s ease-in-out;
}

/*//////////////////// Nav Desktop ////////////////////*/
.navDesktop {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 2px solid red; */
}
.navLeft,
.navRight {
  height: 100%;
  width: 240px;
  /* border: 2px solid red; */
}
/*///// Main Links /////*/
.mainNavContainerDesktop {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 2px solid red; */
}
.navLinks {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 120px;
  /* border: 2px solid red; */
}
.navLinks li {
  display: block;
  height: fit-content;
  width: fit-content;
  text-align: left;
  /* border: 2px solid green; */
}
.btnLateral {
  height: 100%;
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  cursor: pointer;
  /* border: 2px solid red; */
}
.linkText {
  color: #b4b4b5;
  font-family: "Sarala", serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.25rem;
  opacity: 0;
  margin-top: 0.15rem;
  margin-left: 0;
  transform: scale(1);
  transform-origin: left;
  transition: margin-left 0.3s ease-in-out, transform 0.3s ease-in-out,
    opacity 1s ease-in-out, color 0.3s ease-in-out;
}
.btnLateral > .icon {
  transform-origin: right center;
  transform: rotateY(0deg) var(--scale, scale(1));
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  /* border: 2px solid red; */
}
.btnLateral:hover > .icon {
  --scale: scale(1.5);
}
.btnLateral:hover > .linkText {
  transform: scale(1.5);
  margin-left: 0.5rem;
}
.btnLateral.pressed > .icon {
  --scale: scale(1);
}
.btnLateral.pressed > .icon::after {
  opacity: 1;
}
.btnLateral.pressed > .linkText {
  transform: scale(1);
  color: white;
  margin-left: 0;
}
.btnLateral.clicked > .icon {
  --scale: scale(1.5);
}
.btnLateral.clicked > .icon::after {
  opacity: 1;
}
.btnLateral.clicked > .linkText {
  transform: scale(1.5);
  color: white;
  margin-left: 0.5rem;
}
/*///// Social Links /////*/
.socialLinksDesktop {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  opacity: 1;
  /* border: 2px solid rgb(0, 173, 23); */
}
.btnSocialLateral {
  position: relative;
  display: flex;
  height: fit-content;
  width: fit-content;
  justify-content: center;
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  cursor: pointer;
  /* border: 2px solid red; */
}
.btnSocialLateral > .icon {
  opacity: 1;
  transform-origin: right center;
  transform: rotateY(0deg) var(--scale, scale(1));
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.btnSocialLateral:hover > .icon {
  --scale: scale(1.5);
}
.btnSocialLateral:active > .icon {
  --scale: scale(1);
}
.btnSocialLateral:active > .icon::after {
  opacity: 1;
}

/*//////////////////// Nav Tablet ////////////////////*/
.navTablet {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: right;
  /* border: 2px solid red; */
}
.navLinksTablet {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.mainNavContainerTablet {
  height: 0;
  width: 86px;
  display: flex;
  justify-content: center;
  background-color: #06060977;
  padding: 1rem 0 2rem 0;
  border-radius: 0 0 0 20px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
  /* border: 2px solid red; */
}
.btnTablet {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  opacity: 0;
  transform-origin: center;
  transform: rotateY(0deg) var(--scale, scale(1));
  transition: all 0.3s ease-in-out;
  /* border: 2px solid red; */
}
.btnTablet:hover {
  transform: var(--scale, scale(1.2));
}
.btnTablet > .icon {
  transform-origin: center right;
  width: 36px;
  height: 36px;
}
.linkTextTablet {
  color: #b4b4b5;
  font-family: "Sarala", serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  transition: color 0.3s ease-in-out;
}
.pressedTablet {
  color: white;
  transform: var(--scale, scale(0.9));
}
.btnTablet.pressedTablet .icon::after {
  opacity: 1;
}
.btnTablet.pressedTablet .linkTextTablet {
  color: white;
}
.clickedTablet {
  transform: var(--scale, scale(1));
}
.btnTablet.clickedTablet .icon::after {
  opacity: 1;
}
.btnTablet.clickedTablet .linkTextTablet {
  color: white;
}
.btnSocialTablet {
  position: relative;
  display: flex;
  height: fit-content;
  width: fit-content;
  justify-content: center;
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  cursor: pointer;
  /* border: 2px solid red; */
}
.btnSocialTablet > .icon {
  transform-origin: right center;
  transform: rotateY(0deg) var(--scale, scale(1));
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.btnSocialTablet:hover > .icon {
  --scale: scale(1.5);
}
.btnSocialTablet:active > .icon {
  --scale: scale(1);
}
.btnSocialTablet:active > .icon::after {
  opacity: 1;
}

/*//////////////////// Nav Mobile ////////////////////*/
.navMobile {
  width: 100%;
  height: 100%;
  display: none;
  
}
.mainNavContainerMobile {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #060609;
  padding: 12px 24px 24px 24px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, height 0.1s ease-in-out;
  z-index: 1000;
}
.mainNavContainerMobile > .languageSelector {
  align-self: flex-end;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.navLinksMobile {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 3rem 0;
}
.btnMobile {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border: 1px solid #b4b4b5;
  border-radius: 20px;
  opacity: 0;
  transform-origin: center;
  transform: rotateY(0deg) var(--scale, scale(1));
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.pressedMobile {
  background-color: #b4b4b5;
  color: #060609;
  transform: var(--scale, scale(0.9));
}
.btnMobile.pressedMobile .icon::before {
  opacity: 1;
}
.btnMobile.pressedMobile .linkTextMobile {
  color: #060609;
}
.clickedMobile {
  background-color: white;

  transform: var(--scale, scale(1));
}
.btnMobile > .icon {
  width: 36px;
  height: 36px;
}
.btnMobile.clickedMobile .icon::before {
  opacity: 1;
}
.btnMobile.clickedMobile .linkTextMobile {
  color: #060609;
}
.linkTextMobile {
  color: #b4b4b5;
  font-family: "Sarala", serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  transition: color 0.3s ease-in-out;
}
.socialLinksMobile {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.5rem;
  /* margin-bottom: 0.5rem; */
}
.btnSocialMobile {
  height: 100%;
  width: 100%;
  display: flex;
  cursor: pointer;
  opacity: 0;
  transform-origin: center;
  transform: rotateY(0deg) var(--scale, scale(1));
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/*//////////////////// BUTTONS ////////////////////*/
.btnMedium {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 48px;
  border: 1px solid #b4b4b5;
  border-radius: 24px;
  opacity: 1;
  transform:scale(1);
  transform-origin: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}
.btnOff {
  pointer-events: none;
  opacity:0.25;
}
.btnMedium:hover {
  transform:scale(1.1);
  background-color: #b4b4b5;
  /* color:#040508; */
}
.btnMedium:active {
  transform:scale(0.9);
  background-color: white;
  /* color:#040508; */
}
.btnLabel{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.btnText {
  font-family: "Sarala", serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  color:#b4b4b5;
  transition: color 0.3s ease-in-out;
}
.btnMedium:hover .btnText {
  color:#040508;
}
.btnMedium:hover .icon::before {
  opacity:1;
}
/*//////////////////// RESPONSIVE ////////////////////*/
@media (min-width: 1918px) {
  /* Styles spécifiques aux desktops */
}
@media (max-width: 1917px) {
  .navContainer {
    height: 100%;
    width: 100%;
  }
  .topBar {
    height: 72px;
    padding: 0 24px 0 24px;
  }
  .mainLogo {
    margin-top: 0;
  }
  .mainLogo h1 {
    font-size: 28px;
  }
  .mainLogoText {
    margin-top: -5px;
    gap: 0.07rem;
  }
  .mainLogo span {
    font-size: 12px;
    letter-spacing: 11.75px;
  }
  .languageSelector {
    opacity: 1;
  }
  .navDesktop {
    display: none;
  }
  .topBarDesktop {
  display:none;
}
  .navTablet {
    display: flex;
  }
  .topBar > .languageSelector {
    display: none;
  }
  .topBarContent {
    display: flex;
  }
  .tabletMenuTop {
    display: flex;
  }
  .burgerMenu {
    display: flex;
  }
  .burgerContainer {
    height: 64px;
    width: 76px;
    display: flex;
    transform: translateX(4px);
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    overflow: hidden;
    margin-left: 0px;
  }
}
@media (max-width: 800px) {
  .mainLogo {
    margin-top: -3px;
  }
  .mainLogoText {
    margin-top: -8px;
  }
  .navTablet {
    display: none;
  }
  .topBarContent {
    display: none;
  }
  .burgerContainer {
    display: flex;
    width: 64px;
    padding: 0;
    margin: 0;
  }
  .burgerMenu {
    margin-top: 3px;
    width: 64px;
  }
  .navMobile {
    display: flex;
  }
}
/*//////////////////// ANIMATIONS ////////////////////*/
.rotateIn {
  animation: rotateIn 0.3s forwards;
}
@keyframes rotateIn {
  0% {
    transform: rotateY(90deg) var(--scale, scale(1));
    opacity: 0;
  }
  100% {
    transform: rotateY(0deg) var(--scale, scale(1));
    opacity: 1;
  }
}
.rotateOut {
  animation: rotateOut 0.3s forwards;
}
@keyframes rotateOut {
  0% {
    transform: rotateY(0deg) var(--scale, scale(1));
    opacity: 1;
  }
  100% {
    transform: rotateY(90deg) var(--scale, scale(1));
    opacity: 0;
  }
}
.onlineStatus {
  animation: onlineStatus 0.3s forwards;
}
@keyframes onlineStatus {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-180deg);
  }
}
.offlineStatus {
  animation: offlineStatus 0.3s forwards;
}
@keyframes offlineStatus {
  0% {
    transform: rotateZ(-180deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
